@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                <h3>@ViewBag.Role</h3>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
@{
    
    if (ViewBag.Authenticated && ViewBag.UserRole!=null)
    {
        
        string role = ViewBag.UserRole.ToString();
        switch (role)
        {
            case "User":
            
    @Html.ActionLink("Create ticket", "Create", "Ticket");
                                                         break;

            case "Admin":
    <table>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
            </tr>
        }


    </table>

        break;
            case "Engineer":
           <h1>My tickets</h1>    
            <table>
        @foreach (var ticket in Model)
        {
            if (ticket.Assignee == WebSecurity.CurrentUserId){
            <tr>
            <td>
                @ticket.CallerName
            </td>                 
            <td>
                @ticket.Description
            </td>   
            <td>
                @ticket.Phone
            </td>
            <td>
                @ticket.Status
            </td>
            </tr> 
            }
        }
        </table>
        <h1>Available tickets</h1> 
         <table>
        @foreach (var ticket in Model)
        {
            //2 - checked status
            if (ticket.Status == iLexStudio.IntercomServices.Models.Tickets.TicketStatus.Checked){
            <tr>
            <td>
                @ticket.CallerName
            </td>                 
            <td>
                @ticket.Description
            </td>   
            <td>
                @ticket.Phone
            </td>
            <td>
                @ticket.Status
            </td>
             <td>
                @Html.ActionLink("Add to my tickets", "Add", "Ticket", new {UserID = WebSecurity.CurrentUserId, TicketID = ticket.ObjectID },null)
            </td>
            </tr> 
            }
        }
        </table>
        break;
            case "Operator":
        <table>
        @foreach (var ticket in Model)
        {
            <tr>
            <td>
                @ticket.CallerName
            </td>                 
            <td>
                @ticket.Description
            </td>   
            <td>
                @ticket.Phone
            </td>
            <td>
                @ticket.Status
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Ticket", new {ObjectID = (int)ticket.ObjectID},null)
            </td>
            </tr> 
        }
        </table>   
        break;
            default:

        break;
        }
    }
}


