@model iLexStudio.IntercomServices.Models.Address

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Address</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Home)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Home)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Appartment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Appartment)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
